@keyframes animation {
    0%,
    100% {
      transform: translateY(0) rotate(-5deg);
    }
  
    25% {
      transform: translateY(-5px) rotate(5deg);
    }
  
    50% {
      transform: translateY(0) rotate(-5deg);
    }
  
    75% {
      transform: translateY(5px) rotate(270deg);
    }
  }

  
.animated-img{
    animation: animation 1.5s linear infinite;
  }
  